# Index Urls
--index-url https://download.pytorch.org/whl/cu124
--extra-index-url https://pypi.org/simple

# Loading environmental variables
python-dotenv

# Obtain Media
pytube
bilix

# Transcription
replicate # Online transcription

# Local transcription
torch
torchaudio
# pytorch-cuda
git+https://github.com/m-bain/whisperx.git #whisperX

# LLM related
openai
groq
instructor

# post processing
